body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  position: absolute;
}

.logo {
  display: block;
  margin: 0px auto;
}

p {
  font-size: 12px;
}

.titulares {
  font-size: 24px;
  text-align: center;
}

.precios {
  font-size: 18px;
  text-align: center;
}

.descuentos {
  font-size: 16px;
  text-align: center;
}
.descripcion {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

header {
  background-color: #EAC926;
  display: grid;
  padding-bottom: 1em;
}

.compra-cuotas {
  text-align: center;
}

.burger-menu {
  text-align: center;
}

.menu {
  background-color: #03264C;
  color: white;
  padding: 1% 1% 1% 1%;
  border-radius: 5px 5px 5px 5px;
}