:root{
  --colorazul: #1159c3;
}

body {
  font-family: 'Roboto';
  margin: 0;
  width: 100%;
  height: auto;
  position: absolute;
}

img{
  width: 100%;
}

li{
  list-style: none;
}

.logo {
  display: block;
  width: 80%;
  margin: auto;
}

p {
  font-size: 12px;
}

.titulares {
  font-size: 24px;
  text-align: center;
}

.precios {
  font-size: 18px;
  text-align: center;
}

.descuentos {
  font-size: 16px;
  text-align: center;
}
.descripcion {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

header {
  background-color: #EAC926;
  width: 100%;
  padding-bottom: 1em;  
}

.compra-cuotas {
  text-align: center;
}

.burger-menu {
  text-align: center;
}

.menu {
  background-color: var(--colorazul);
  color: white;
  padding: 1% 1% 1% 1%;
  border-radius: 5px 5px 5px 5px;
}
.search-bar{
  margin-left: 15px;
}
.footer{
  text-align: center;
}
.icon-footer{
  color: var(--colorazul);
  margin-bottom: 10px;
  font-size: 2em;
}
@media (max-width: 250px){
  body{
  width: 250px;
  }
  .icon-footer{
    font-size: 1em;
  }
}