:root {
  --colorazul: #1159c3;
}

/* CSS GENERAL BODY */

body {
  font-family: 'Roboto';
  margin: 0;
  width: 100%;
  height: auto;
  position: absolute;
  background-color: #ebebeb;

}

main {
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  margin-bottom: 50px;

}

/* CSS HEADER */

.menu-principal ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.menu-principal a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px 0px;
  font-size: 17px;
}

.main-header {
  background-color: #EAC926;
  padding: 2% 2%;
}

.header-ancho {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  padding: 10px;
}

.elementos-header {
  width: 50%;
}

.search {
  padding: 8px 8px;
  border-radius: 5px 0px 0px 5px;
  border: none;
  margin-left: 20px;
  width: 50%;

}

.lupa {
  border: none;
  padding: 8px 8px;
  background-color: white;
  border-radius: 0px 5px 5px 0px;
  left: -10px;
  border-left: gray solid 1px;
}

.hand {
  font-size: 16px;
}

.burger-menu {
  background-color: #03264C;
  color: white;
  display: block;
  max-width: 50px;
  padding: 15px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  margin: auto;
}

p {
  font-size: 12px;
}

.img-banner {
  width: 100%;
}


/*  CSS CONTENIDO PRINCIPAL */

.titulares {
  font-size: 24px;
  text-align: left;
  color: rgb(85, 84, 84);
}

.productos {
  margin-bottom: 10px;
  background-color: white;
  height: auto;
  box-sizing: border-box;
  transition: box-shadow 650ms;
}

.producto-imagen {
  display: flex;
  width: 80%;
  margin: auto;
}

img .producto-imagen {
  width: 80%;
  height: 80%;
}

.camion {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: end;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  color: #39b54a;
  position: absolute;
  top: -10px;
  right: 10%;
  transition: all 1s;
}

.cajageneral {
  box-sizing: border-box;
  padding-bottom: 5%;
  border-top: 1px solid #ebebeb;
  padding: 10px;
  position: relative;
}

.precios {
  font-size: 18px;
  width: 30%;
}

.descuentos {
  font-size: 16px;
  color: #4bb35e;
  width: 70%;
}

.descripcion {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: none;
}

.compra-cuotas {
  text-align: center;
}

.valores {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

/* CSS FOOTER */

.footer {
  padding-top: 2em;
  text-align: center;
  background-color: white;
}

.icon-footer {
  color: var(--colorazul);
  margin-bottom: 10px;
  font-size: 2em;
  transition: color 450ms;
}

.copyright {
  padding-bottom: 50px;
}

/* CSS de registro y login */

.formularioregistro {
  padding: 20px;
}

.control-formulario {
  margin-bottom: 15px;

}

div .radio {
  display: inline;
  font-size: 16px;
  text-align: center;
  padding-left: 15px;
}

.checkbox-categoria {
  padding-top: 10px;
}

.control-formulario label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

.control {
  width: 100%;
  padding: 8px 8px;
  border-radius: 5px;
  border: none;
}

.boton-formulario {
  background-color: #1159c3;
  font-size: 14px;
  color: white;
  padding: 8px 8px;
  border-radius: 5px;
  border: none;
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  transition: background-color 1s;
}

/*  Ancho Maximo que funciona el sitio. Inicia Desde Acá para las tablets  */
@media (min-width: 361px) and (max-width: 769px) {
  body {
    width: auto;
  }

  .icon-footer {
    font-size: 1em;
  }

  .productos {
    width: 44%;
  }

  .menu-principal {
    display: none;
  }

  .contenedor-visita {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .camion {
    right: 10%;
  }

  .search{
    width: 50%;
  }
}

/* Resolucion minima 769px desktop*/
@media (min-width: 770px) {
  .productos {
    width: 23%;
    height: 100%;
  }
  .productos:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .productos:hover .descripcion {
    display: block;
    bottom: -2%;
    position: absolute;
  }

  .valores {
    flex-wrap: wrap;
    padding-bottom: 10%;
    padding-left: 10px;
  }

  .hand {
    font-size: 20px;
  }

  .header-ancho {
    flex-wrap: nowrap;
    width: 70%;
    margin: auto;
    align-items: center;
  }

  .burger-menu {
    display: none;
  }

  .menu-principal {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 3%;
  }

  .menu-principal ul {
    display: flex;
  }

  .menu-principal li {
    margin: 0 5px;
  }

  .contenedor-visita {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .camion {
    right: 10%;
  }

  .camion:hover {
    transform: rotate(270deg);
  }

  .footer-flex {
    margin: auto;
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
  }

  .icon-footer:hover {
    color: #EAC926;
  }

  .contenedor-footer {
    padding: 50px;
  }

  .login:hover {
    background-color: #0022AA;
  }

  .formulario-registro {
    width: 50%;
    margin: auto;
  }

  .formulario-login {
    width: 50%;
    margin: auto;
  }
  .logo{
    width: 80%;
  }
  .elementos-header {
    width: 50%;
  }
}