<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg" alt="">
        <div>
            <p>Lugar para poner la barra de búsqueda</p>
        </div>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <div>
                <img class="cafetera" src="/img/img-cafetera-moulinex.jpg" alt="">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </div>
            <div>
                <img src="/img/img-macbook-pro-2019.jpg" alt="">
                <p>$230.000</p>
                <p>20% OFF</p>
                <h4>MacBook Pro 2019</h4>
            </div>
            <div>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
                <p>$70.500</p>
                <p>10% OFF</p>
                <h4>Samsung Galaxy S10</h4>
            </div>
            <div>
                <img src="/img/img-tv-samsung-smart.jpg" alt="">
                <p>$23.200</p>
                <p>5% OFF</p>
                <h4>SmartTv Samsung 43"</h4>
            </div>
        </section>
        <section>
            <h2>Sección de Ofertas</h2>
            <div>
                <img src="/img/img-cafetera-moulinex.jpg" alt="">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </div>
            <div>
                <img src="/img/img-macbook-pro-2019.jpg" alt="">
                <p>$230.000</p>
                <p>20% OFF</p>
                <h4>MacBook Pro 2019</h4>
            </div>
            <div>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
                <p>$70.500</p>
                <p>10% OFF</p>
                <h4>Samsung Galaxy S10</h4>
            </div>
            <div>
                <img src="/img/img-tv-samsung-smart.jpg" alt="">
                <p>$23.200</p>
                <p>5% OFF</p>
                <h4>SmartTv Samsung 43"</h4>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            <h3>● Copyright © 1999-2020 MercadoLiebre S.R.L.</h3> 
        </section>
    </footer>
</body>

</html>